In [21]:
import pandas as pd
import random

In [22]:
df = pd.read_excel("..\\deliverable2\\um6p-cs-introdb-2-excelDatabases\\um6p-cs-introdb-2-raw-database.xlsx")

df

,Region,Mois,Quarter,Year,Country,Discharging Port,Delivery Mode,Customer,Customer Group,Category,...,AU DELA DE 21H (+500 DH),TOTAL HT,MOIS FACTURATION,Avis de Chargement status,Contract ID,Contract Status,Invoice,Invoiced amount,Payment deadline,Payment status
0,Africa,2022-03-01,Q1,2022,Nigeria,LAGOS,Container,Vial/Vitafort,Vial/Vitafort,DCP,...,NaN,NaN,May 2022,Sent,1382,Draft,18732,10000,2022-06-06,Paid
1,Americas,2022-04-02,Q2,2022,Argentina,BUENOS AIRES,Container,ESIFAR,ESIFAR,MDCP,...,750.0,1500.0,June 2022,Sent,1383,Signed OCP,19423,302500,2022-09-22,Paid
2,Asia,2022-07-03,Q3,2022,Thailand,LAT KRABANG,Container,CPF (Thailand) Public Company Limited,CP Group,MDCP,...,NaN,NaN,September 2022,Sent,1398,Signed OCP,18452,1440000,2022-11-24,Paid
3,Europe,2022-10-04,Q4,2022,Greece,THESSALONIKI,Vessel,GREEFOS,GREEFOS,MCP,...,NaN,NaN,December 2022,Sent,1982,Signed OCP,18668,19509600,2022-12-27,Not Paid
4,Local Market,2022-10-05,Q4,2022,Morocco,NaN,Truck,ALF AMMAR,ALF AMMAR,MDCP,...,NaN,NaN,November 2022,Sent,1443,Signed Customer,19832,193600,2023-01-09,Paid

In [33]:
df["BL N°"]

0         1236876312
1          237739812
2    HCLA31283712932
3        C8739128713
4                NaN
Name: BL N°, dtype: object

In [34]:
df.columns

Index(['Region', 'Mois', 'Quarter', 'Year', 'Country', 'Discharging Port',
       'Delivery Mode', 'Customer', 'Customer Group', 'Category', 'Product',
       'Pallets', 'Branding', 'Volume', 'Volume per container', 'Number of TC',
       'Incoterm', 'Status', 'Status II', 'Payment terms',
       'Payment terms days', 'Price', 'Estimated Freight',
       'Estimated Mise à FOB', 'Estimated Insurance (calculated)', 'Price EXW',
       'Eq Acide', 'Price FOB', 'CA EXW', 'CA FOB', 'CA CFR', 'Sales Order',
       'Outbound Delivery (Unique Key)*', 'Supplier', 'Transporter',
       'Inspection', 'Shipping Line ', 'Shipped Via', 'Loading date at Plant ',
       'Quanité enlevé du site', 'Stuffing Date', 'Fret réel',
       'Mise à FOB réelle', 'BL N°', 'Sequence Date', 'Transit time',
       'ETA (Estimated Time of Arrival)', 'BL date estimated',
       'BL date (SOB date)', 'BL Month', 'BL Quarter', 'BL Year',
       'Net quantity', 'CLEARANCE DATE', 'COMMENT ', 'Type TC', 'PORT LOADING',
       'FREIGHT INVOICE 1', 'FREIGHT INVOICE 2', 'FREIGHT INVOICE 3',
       'Days of magasinage', 'Magasinage amount', 'Days of magasinage 2',
       'Magasinage amount 2', 'Days of magasinage 3', 'Magasinage amount 3',
       '1/2 jours', '1 JOURS', '2 JOURS', '3 JOURS', 'Majoration EN NOMBRE',
       'AU DELA DE 21H (+500 DH)', 'TOTAL HT', 'MOIS FACTURATION',
       'Avis de Chargement status', 'Contract ID', 'Contract Status',
       'Invoice', 'Invoiced amount', 'Payment deadline', 'Payment status'],
      dtype='object')

Dropping calculated columns

In [23]:
df.drop(columns=['Quarter', 'Year','Price EXW','Eq Acide', 'Price FOB', 'CA EXW', 'CA FOB', 'CA CFR','ETA (Estimated Time of Arrival)','BL Month', 'BL Quarter', 'BL Year','Invoiced amount', 'Payment deadline','Majoration EN NOMBRE','AU DELA DE 21H (+500 DH)', 'TOTAL HT','MOIS FACTURATION','Estimated Insurance (calculated)','Product','BL date (SOB date)', 'Number of TC','Product'],axis=1,inplace=True)

df['sid'] = [i for i in range(5)]
df['pid'] = [i for i in range(5)]
df['cid'] = [i for i in range(5)]
df['did'] = [i for i in range(5)]

In [24]:
col_list = list(df.columns)

col_list

['Region',
 'Mois',
 'Country',
 'Discharging Port',
 'Delivery Mode',
 'Customer',
 'Customer Group',
 'Category',
 'Pallets',
 'Branding',
 'Volume',
 'Volume per container',
 'Incoterm',
 'Status',
 'Status II',
 'Payment terms',
 'Payment terms days',
 'Price',
 'Estimated Freight',
 'Estimated Mise à FOB',
 'Sales Order',
 'Outbound Delivery (Unique Key)*',
 'Supplier',
 'Transporter',
 'Inspection',
 'Shipping Line ',
 'Shipped Via',
 'Loading date at Plant ',
 'Quanité enlevé du site',
 'Stuffing Date',
 'Fret réel',
 'Mise à FOB réelle',
 'BL N°',
 'Sequence Date',
 'Transit time',
 'BL date estimated',
 'Net quantity',
 'CLEARANCE DATE',
 'COMMENT ',
 'Type TC',
 'PORT LOADING',
 'FREIGHT INVOICE 1',
 'FREIGHT INVOICE 2',
 'FREIGHT INVOICE 3',
 'Days of magasinage',
 'Magasinage amount',
 'Days of magasinage 2',
 'Magasinage amount 2',
 'Days of magasinage 3',
 'Magasinage amount 3',
 '1/2 jours',
 '1 JOURS',
 '2 JOURS',
 '3 JOURS',
 'Avis de Chargement status',
 'Contract ID',
 'Contract Status',
 'Invoice',
 'Payment status',
 'sid',
 'pid',
 'cid',
 'did']

In [25]:
shipment = df[['sid','Net quantity','Days of magasinage',  'Days of magasinage 2',
        'Days of magasinage 3', 'Pallets','Inspection','Loading date at Plant ','Quanité enlevé du site','Stuffing Date','Sequence Date','Magasinage amount','Magasinage amount 2','Magasinage amount 3']]

shipment2 = pd.DataFrame()
shipment2['sid'] = [i for i in range(1000000)]
for name in shipment.columns:
        if name != 'sid':
                shipment2[name] = [random.choice(shipment[name]) for _ in range(1000000)] 



shipment2

,sid,Net quantity,Days of magasinage,Days of magasinage 2,Days of magasinage 3,Pallets,Inspection,Loading date at Plant,Quanité enlevé du site,Stuffing Date,Sequence Date,Magasinage amount,Magasinage amount 2,Magasinage amount 3
0,0,1200,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-08-17,484.0,2022-11-30,2022-05-17,84.91,NaN,NaN
1,1,550,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-11-19,605.0,2022-08-29,2022-05-17,NaN,NaN,NaN
2,2,1200,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-05-17,605.0,2022-05-29,2022-12-20,84.91,NaN,NaN
3,3,1200,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-08-17,4840.0,2022-08-29,2022-09-18,NaN,NaN,NaN
4,4,100,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-08-17,605.0,2022-04-27,2022-12-20,84.91,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,4434,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-11-19,110.0,2022-08-29,2022-12-20,NaN,NaN,NaN
999996,999996,440,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-05-17,110.0,2022-04-27,2022-05-17,NaN,NaN,NaN
999997,999997,550,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-08-17,1320.0,NaT,2022-12-20,NaN,NaN,NaN
999998,999998,1200,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-04-15,110.0,2022-05-29,2022-06-18,NaN,NaN,NaN
999999,999999,550,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-11-19,484.0,NaT,2022-12-20,NaN,NaN,NaN

In [26]:
shipment2

,sid,Net quantity,Days of magasinage,Days of magasinage 2,Days of magasinage 3,Pallets,Inspection,Loading date at Plant,Quanité enlevé du site,Stuffing Date,Sequence Date,Magasinage amount,Magasinage amount 2,Magasinage amount 3
0,0,1200,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-08-17,484.0,2022-11-30,2022-05-17,84.91,NaN,NaN
1,1,550,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-11-19,605.0,2022-08-29,2022-05-17,NaN,NaN,NaN
2,2,1200,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-05-17,605.0,2022-05-29,2022-12-20,84.91,NaN,NaN
3,3,1200,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-08-17,4840.0,2022-08-29,2022-09-18,NaN,NaN,NaN
4,4,100,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-08-17,605.0,2022-04-27,2022-12-20,84.91,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,4434,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-11-19,110.0,2022-08-29,2022-12-20,NaN,NaN,NaN
999996,999996,440,NaN,NaN,NaN,1 pallet per BB,Inspectorate,2022-05-17,110.0,2022-04-27,2022-05-17,NaN,NaN,NaN
999997,999997,550,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-08-17,1320.0,NaT,2022-12-20,NaN,NaN,NaN
999998,999998,1200,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-04-15,110.0,2022-05-29,2022-06-18,NaN,NaN,NaN
999999,999999,550,NaN,NaN,NaN,1 pallet per 2 BB,Inspectorate,2022-11-19,484.0,NaT,2022-12-20,NaN,NaN,NaN

In [27]:
belongsTo = pd.DataFrame()
belongsTo['belongsid'] = [i for i in range(100)]
belongsTo['sid'] = [random.randint(1,100) for _ in range(100)]
belongsTo['od'] = [random.randint(1,100) for _ in range(100)]

bindex_list = []
bsingle_values = []
for i in range(10):
        if belongsTo['sid'][i] in bsingle_values:
                bindex_list.append(i)
        else:
                bsingle_values.append(belongsTo['sid'][i])

belongsTo.drop(index=belongsTo.index[bindex_list],inplace=True)

In [28]:
belongsTo

    belongsid  sid  od
0           0   88  50
1           1   71  87
2           2   28  99
3           3   13  98
4           4   57  34
..        ...  ...  ..
95         95   19  99
96         96   15  23
97         97   38  22
98         98   23  17
99         99   55   2

[100 rows x 3 columns]

In [16]:
shipment2.to_csv("datatest1.csv",index=False)

In [20]:
belongsTo.to_csv("datatest2.csv",index=False)

In [14]:
shipment2.to_csv("datatest1.csv",index=False)

In [38]:
salesTransaction = df[['Outbound Delivery (Unique Key)*','FREIGHT INVOICE 1',
 'FREIGHT INVOICE 2',
 'FREIGHT INVOICE 3', 'Sales Order','Payment terms','CLEARANCE DATE',
 'Payment terms days', 'Incoterm', 'Volume','Invoice', 'COMMENT ', 'Estimated Mise à FOB','Mise à FOB réelle','Mois', 'Payment status']]

salesTransaction2 = pd.DataFrame()
salesTransaction2['Outbound Delivery (Unique Key)*'] = [i for i in range(1000)]
for name in salesTransaction.columns:
        if name != 'Outbound Delivery (Unique Key)*':
                salesTransaction2[name] = [random.choice(salesTransaction[name]) for _ in range(1000)] 

for i in salesTransaction.columns:
        col_list.remove(i)

col_list

['Region',
 'Country',
 'Discharging Port',
 'Delivery Mode',
 'Customer',
 'Customer Group',
 'Category',
 'Branding',
 'Volume per container',
 'Status',
 'Status II',
 'Price',
 'Estimated Freight',
 'Supplier',
 'Transporter',
 'Shipping Line ',
 'Shipped Via',
 'Fret réel',
 'BL N°',
 'Transit time',
 'BL date estimated',
 'Type TC',
 'PORT LOADING',
 '1/2 jours',
 '1 JOURS',
 '2 JOURS',
 '3 JOURS',
 'Avis de Chargement status',
 'Contract ID',
 'Contract Status',
 'pid',
 'cid',
 'did']

In [39]:
product = df[['pid','Category','Price','Branding']]
product["bag_size"] = ["B","B","S","S","B"]
product["weight"] = [1150,1300,1000,1200,1100]
product["percentage"] = [18,25,30,10,11]

product2 = pd.DataFrame()
product2['pid'] = [i for i in range(1000)]
for name in product.columns:
        if name != 'pid':
                product2[name] = [random.choice(product[name]) for _ in range(1000)] 
for i in product.columns:
        try:
                col_list.remove(i)
        except:
                continue

col_list

C:\Users\21269\AppData\Local\Temp/ipykernel_10192/1444145217.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product["bag_size"] = ["B","B","S","S","B"]
C:\Users\21269\AppData\Local\Temp/ipykernel_10192/1444145217.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product["weight"] = [1150,1300,1000,1200,1100]
C:\Users\21269\AppData\Local\Temp/ipykernel_10192/1444145217.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product["percentage"] = [18,25,30,10,11]

['Region',
 'Country',
 'Discharging Port',
 'Delivery Mode',
 'Customer',
 'Customer Group',
 'Volume per container',
 'Status',
 'Status II',
 'Estimated Freight',
 'Supplier',
 'Transporter',
 'Shipping Line ',
 'Shipped Via',
 'Fret réel',
 'BL N°',
 'Transit time',
 'BL date estimated',
 'Type TC',
 'PORT LOADING',
 '1/2 jours',
 '1 JOURS',
 '2 JOURS',
 '3 JOURS',
 'Avis de Chargement status',
 'Contract ID',
 'Contract Status',
 'cid',
 'did']

In [40]:
customer = df[['cid','Contract ID',
 'Contract Status','Customer',
 'Customer Group']]

customer2 = pd.DataFrame()
customer2['cid'] = [i for i in range(1000)]
for name in customer.columns:
        if name != 'cid':
                customer2[name] = [random.choice(customer[name]) for _ in range(1000)] 
for i in customer.columns:
        col_list.remove(i)

col_list

['Region',
 'Country',
 'Discharging Port',
 'Delivery Mode',
 'Volume per container',
 'Status',
 'Status II',
 'Estimated Freight',
 'Supplier',
 'Transporter',
 'Shipping Line ',
 'Shipped Via',
 'Fret réel',
 'BL N°',
 'Transit time',
 'BL date estimated',
 'Type TC',
 'PORT LOADING',
 '1/2 jours',
 '1 JOURS',
 '2 JOURS',
 '3 JOURS',
 'Avis de Chargement status',
 'did']

In [41]:
delivery = df[['did','Region',
 'Status',
 'Status II','Volume per container','Estimated Freight',
 'Country','Discharging Port','Type TC',
 'Delivery Mode',
 'Avis de Chargement status','Fret réel', 'Transit time',
  'Supplier','Shipped Via','Shipping Line ','PORT LOADING','Transporter',
 '1/2 jours',
 '1 JOURS',
 '2 JOURS',
 '3 JOURS'
 ]]

delivery2 = pd.DataFrame()
delivery2['did'] = [i for i in range(1000)]
for name in delivery.columns:
        if name != 'did':
                delivery2[name] = [random.choice(delivery[name]) for _ in range(1000)]

for i in delivery.columns:
        print(i)
        col_list.remove(i)

col_list

did
Region
Status
Status II
Volume per container
Estimated Freight
Country
Discharging Port
Type TC
Delivery Mode
Avis de Chargement status
Fret réel
Transit time
Supplier
Shipped Via
Shipping Line
PORT LOADING
Transporter
1/2 jours
1 JOURS
2 JOURS
3 JOURS

['BL N°', 'BL date estimated']

In [42]:
billOfLoading  = df[['cid','sid',
 'BL N°',
 'BL date estimated',
]]

billOfLoading2 = pd.DataFrame()
billOfLoading2['cid'] = [random.choice([i for i in range(1000)]) for _ in range(500)]
billOfLoading2['sid'] = [random.choice([i for i in range(1000)]) for _ in range(500)]

index_list = []
single_values = []
for i in range(500):
        if (billOfLoading2['cid'][i],billOfLoading2['sid'][i]) in single_values:
                index_list.append(i)
        else:
                single_values.append((billOfLoading2['cid'][i],billOfLoading2['sid'][i]))


billOfLoading2['BL N°'] = [random.choice(billOfLoading['BL N°']) for _ in range(500)]
billOfLoading2['BL date estimated'] = [random.choice(billOfLoading['BL date estimated']) for _ in range(500)]

billOfLoading2.drop(index=billOfLoading2.index[index_list],inplace=True)
for i in billOfLoading.columns:
        try:
                col_list.remove(i)
        except:
                continue

col_list

[]

In [43]:
index_list

[65, 386]

In [44]:
set(billOfLoading2['cid'])

{2,
 4,
 5,
 8,
 11,
 12,
 15,
 16,
 18,
 20,
 28,
 31,
 33,
 34,
 36,
 43,
 52,
 53,
 62,
 63,
 68,
 70,
 75,
 77,
 85,
 88,
 93,
 96,
 98,
 99,
 100,
 101,
 102,
 103,
 106,
 114,
 116,
 118,
 121,
 122,
 123,
 125,
 128,
 129,
 130,
 132,
 134,
 137,
 139,
 142,
 143,
 148,
 152,
 153,
 156,
 164,
 166,
 170,
 171,
 173,
 178,
 180,
 181,
 184,
 185,
 189,
 190,
 197,
 200,
 202,
 204,
 205,
 206,
 208,
 211,
 212,
 214,
 218,
 219,
 220,
 221,
 222,
 225,
 226,
 228,
 232,
 234,
 235,
 238,
 239,
 241,
 245,
 246,
 247,
 248,
 249,
 255,
 256,
 259,
 260,
 262,
 266,
 270,
 271,
 274,
 275,
 278,
 279,
 280,
 283,
 284,
 285,
 286,
 290,
 293,
 295,
 296,
 298,
 301,
 303,
 305,
 311,
 312,
 316,
 321,
 323,
 324,
 325,
 327,
 329,
 334,
 335,
 336,
 340,
 345,
 351,
 352,
 357,
 360,
 361,
 362,
 370,
 371,
 376,
 377,
 379,
 383,
 384,
 386,
 387,
 389,
 390,
 392,
 395,
 397,
 399,
 401,
 402,
 403,
 405,
 407,
 409,
 410,
 411,
 413,
 419,
 420,
 427,
 430,
 431,
 436,
 438,
 439,
 442,
 450,
 451,
 455,
 457,
 461,
 464,
 466,
 467,
 469,
 471,
 472,
 475,
 477,
 478,
 479,
 480,
 481,
 493,
 494,
 495,
 497,
 499,
 500,
 501,
 505,
 506,
 507,
 510,
 511,
 514,
 516,
 517,
 518,
 519,
 522,
 525,
 528,
 533,
 540,
 543,
 547,
 548,
 555,
 556,
 558,
 559,
 561,
 564,
 570,
 572,
 573,
 574,
 576,
 577,
 578,
 581,
 585,
 591,
 593,
 595,
 600,
 602,
 604,
 606,
 607,
 613,
 615,
 622,
 624,
 625,
 628,
 634,
 637,
 638,
 639,
 644,
 645,
 646,
 648,
 649,
 651,
 654,
 655,
 662,
 663,
 667,
 668,
 674,
 677,
 678,
 681,
 686,
 687,
 688,
 689,
 690,
 691,
 693,
 694,
 695,
 699,
 702,
 713,
 720,
 723,
 724,
 726,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 746,
 747,
 755,
 756,
 758,
 760,
 761,
 764,
 765,
 766,
 767,
 774,
 775,
 777,
 780,
 784,
 789,
 794,
 795,
 797,
 801,
 803,
 805,
 807,
 812,
 813,
 815,
 816,
 821,
 822,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 835,
 838,
 839,
 841,
 845,
 849,
 850,
 852,
 853,
 859,
 865,
 866,
 869,
 871,
 872,
 874,
 877,
 879,
 880,
 883,
 884,
 886,
 888,
 892,
 900,
 903,
 906,
 911,
 914,
 915,
 916,
 920,
 923,
 925,
 927,
 928,
 932,
 936,
 940,
 942,
 944,
 946,
 948,
 949,
 951,
 952,
 953,
 955,
 958,
 959,
 962,
 963,
 964,
 968,
 974,
 975,
 977,
 978,
 983,
 984,
 985,
 994,
 995,
 999}

In [45]:
df.index[[1,2]]

Int64Index([1, 2], dtype='int64')

In [46]:
billOfLoading2['cid'][3]

570

shipment

In [47]:
transport = pd.DataFrame()
transport['transportid'] = [i for i in range(500)]
transport['pid'] = [random.randint(1,1000) for _ in range(500)]
transport['did'] = [random.randint(1,1000) for _ in range(500)]

In [48]:
fulfills = pd.DataFrame()
fulfills['fid'] = [i for i in range(500)]
fulfills['did'] = [random.randint(1,1000) for _ in range(500)]
fulfills['od'] = [random.randint(1,1000) for _ in range(500)]

In [49]:
isLoaded = pd.DataFrame()
isLoaded['lid'] = [i for i in range(500)]
isLoaded['did'] = [random.randint(1,1000) for _ in range(500)]
isLoaded['sid'] = [random.randint(1,1000) for _ in range(500)]

In [50]:
contains = pd.DataFrame()
contains['containsid'] = [i for i in range(500)]
contains['pid'] = [random.randint(1,1000) for _ in range(500)]
contains['od'] = [random.randint(1,1000) for _ in range(500)]

cindex_list = []
csingle_values = []
for i in range(500):
        if contains['od'][i] in csingle_values:
                cindex_list.append(i)
        else:
                csingle_values.append(contains['od'][i])

contains.drop(index=contains.index[cindex_list],inplace=True)

In [51]:
belongsTo = pd.DataFrame()
belongsTo['belongsid'] = [i for i in range(500)]
belongsTo['sid'] = [random.randint(1,1000) for _ in range(500)]
belongsTo['od'] = [random.randint(1,1000) for _ in range(500)]

bindex_list = []
bsingle_values = []
for i in range(500):
        if belongsTo['sid'][i] in bsingle_values:
                bindex_list.append(i)
        else:
                bsingle_values.append(belongsTo['sid'][i])

belongsTo.drop(index=belongsTo.index[bindex_list],inplace=True)

In [52]:
records = pd.DataFrame()
records['recordid'] = [i for i in range(500)]
records['cid'] = [random.randint(1,1000) for _ in range(500)]
records['od'] = [random.randint(1,1000) for _ in range(500)]

rindex_list = []
rsingle_values = []
for i in range(500):
        if records['od'][i] in rsingle_values:
                rindex_list.append(i)
        else:
                rsingle_values.append(records['od'][i])

records.drop(index=records.index[rindex_list],inplace=True)

In [53]:
buys = pd.DataFrame()
buys['buyid'] = [i for i in range(500)]
buys['cid'] = [random.randint(1,1000) for _ in range(500)]
buys['pid'] = [random.randint(1,1000) for _ in range(500)]

In [54]:
shipment2.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\shipment.csv",index=False)
salesTransaction2.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\salestransaction.csv",index=False)
product2.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\product.csv",index=False)
customer2.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\customer.csv",index=False)
delivery2.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\delivery.csv",index=False)
billOfLoading2.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\billofloading.csv",index=False)
transport.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\transports.csv",index=False)
fulfills.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\fulfills.csv",index=False)
isLoaded.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\isloaded.csv",index=False)
contains.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\contains.csv",index=False)
belongsTo.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\belongsto.csv",index=False)
records.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\records.csv",index=False)
buys.to_csv(".\\um6p-cs-introdb-2-excelDatabases\\buys.csv",index=False)